{% extends "layout.html" %}

{% block content %}
<br />
        <form method="POST" id="the_form">
            <select name="picker">
                <option value="All">All pickers</option>
                {% for picker in active_pickers %}
                <option value="{{picker}}">{{picker}}</option>
                {% endfor %}
            </select>
            <input type="hidden" value="{{ offset['offset'] }}" id="offset" name="offset">
            <input type="submit" value="Do the lookup" id="submit_button">
        </form>

        {% if items %}
        <table>
            <th>Name</th>
            <th>Batch</th>
            <th>Date</th>
            <th>Time</th>
            <th>Drop Station</th>
            {% for item in items %}
            <tr>
                <td>{{ item["name"] }}</td>
                <td>{{ item["batch"] }}</td>
                <td>{{ item["date"] }}</td>
                <td>{{ item["time"] }}</td>
                <td> {{ item["drop"] }}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="button" class="next-prev" value="Next" onclick="next_pg()">
        <input type="button" class="next-prev" value="Prev">
        {% endif %}
{% endblock %}