<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch Viewer</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
<div id="top">
    <img src="/static/ess.png">
</div>
        <H1>Batch Viewer</H1>
        <a href="/batch-viewer">BATCH VIEWER</a>
        <a href="/picker-ui">PICKER UI</a>
        <a href="/manager-ui">MANAGER UI</a>
        <a href="/display_barcodes">BARCODES</a>
        <br />
        <form method="POST" id="the_form">
            <select name="picker">
                <option value="All">All pickers</option>
                {% for picker in active_pickers %}
                <option value="{{picker}}">{{picker}}</option>
                {% endfor %}
            </select>
            <input type="hidden" value="{{ offset['offset'] }}" id="offset" name="offset">
            <input type="submit" value="Do the lookup" id="submit_button">
        </form>

        {% if items %}
        <table>
            <th>Name</th>
            <th>Batch</th>
            <th>Date</th>
            <th>Time</th>
            <th>Drop Station</th>
            {% for item in items %}
            <tr>
                <td>{{ item["name"] }}</td>
                <td>{{ item["batch"] }}</td>
                <td>{{ item["date"] }}</td>
                <td>{{ item["time"] }}</td>
                <td> {{ item["drop"] }}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="button" class="next-prev" value="Next" onclick="next_pg()">
        <input type="button" class="next-prev" value="Prev">
        {% endif %}
    </div>

    <!--function hit_submit(){-->
        <!--the_form = document.getElementById("the_form");-->
        <!--the_form.submit();-->
    <!--}-->

    <!--function next_pg(){-->
        <!--var offset = document.getElementById("offset");-->
        <!--offset.value += parseInt({{ offset["limit"] }});-->
        <!--hit_submit();-->
    <!--}-->

    <!--function prev_pg(){-->
        <!--var offset = document.getElementById("offset");-->
        <!--offset.value -= int({{ offset["limit"] }});-->
        <!--if (int(offset.value < 0)){-->
            <!--offset.value = 0;-->
        <!--}-->
        <!--hit_submit();-->
    <!--}-->

</body>
</html>