<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager UI</title>
</head>
<body>

    <H1>Welcome to the Manager UI</H1>
    <a href="/batch-viewer">BATCH VIEWER</a>
    <a href="/picker-ui">PICKER UI</a>
    <a href="/manager-ui">MANAGER UI</a>
    <form method="POST">

        <p>Master Batch:</p><input type="text" name="master_batch" placeholder="MASTER BATCH"> <br /><br />
        <p>Regular Batches:</p><input type="text" name="batch" placeholder="Regular Batch"><br /><br />
        <input type="submit">
    </form>

</body>
</html>