<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager UI</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    function get_the_vals(){

        text_field = document.getElementById("textfield");
        text_val = text_field.value;

        master_input = document.getElementById("form-master");
        batch_input = document.getElementById("form-batch");

        batch_view = document.getElementById("batch-view");
        master_view = document.getElementById("master-view");

        if (text_val == "submit"){
            form = document.getElementById("master-form")
            if (master_input.value == "" || batch_input.value == ""){
                text_field.value = "";
                return;
            }
            form.submit();
        }
        else if (isNaN(text_val)){
            //todo check if barcode fits the format
            if (text_val[0] == "$"){
                master_input.value = text_val;
                master_view.innerText = "Master Batch: " + text_val;
            }
        }
        else if (!isNaN(text_val)){

            if (!batch_input.value){
                batch_input.value = text_val;
                batch_view.innerText = "Batches: " + text_val;
            }
            else{
                batch_input.value += "," + text_val;
                batch_view.innerText += ", " + text_val;
            }

        }
        document.getElementById("textfield").value = "";
        console.log(text_field.value);
    }

    function focus_the_box(){
        document.getElementById("textfield").focus();
    }


    // This is used to verify the input before it is sent up to the server
    // There are 2 fixed lengths, 5 and 10 for each barcode. The master barcode will have a '$' as a flag
    function wrapper(){
        text_field = document.getElementById("textfield");
        val = text_field.value;

        // condition for batch
        if (val.length == 5 && !isNaN(val)){
            get_the_vals();
            return
        }// condition for Master Batch
        if (val.length >= 10 && isNaN(val)){
            get_the_vals();
            return;
        }
        if (val == "submit"){
            get_the_vals()
            return;

        }

    }

    setInterval(function() { focus_the_box(); }, 125);
    setInterval(function() { wrapper(); }, 350);

</script>
</head>
<body>
<div id="container">
    <H1>Welcome to the Manager UI</H1>
    <a href="/batch-viewer">BATCH VIEWER</a>
    <a href="/picker-ui">PICKER UI</a>
    <a href="/manager-ui">MANAGER UI</a>
    <a href="/display_barcodes">BARCODES</a>
    <H2><div id="master-view"></div></H2>
    <H2><div id="batch-view"></div></H2>
    <p>Enter The Data: </p> <input class="master-input" type="text" id="textfield" placeholder="Master or Regular batches go here" />

    {% if success %}
        <h3>Data entered!</h3>
    {% endif %}

    <form method="POST" id="master-form" class="hide-me">

        <p>Master Batch:</p><input type="text" name="master_batch" placeholder="MASTER BATCH" id="form-master"> <br /><br />
        <p>Batches:</p><input type="text" name="batch" placeholder="Regular Batch" id="form-batch"><br /><br />
        <input type="submit">
    </form>
</div>
</body>
</html>