<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picker UI</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    function get_the_vals(){
        text_field = document.getElementById("textfield");
        if (text_field.value)
            text_val = text_field.value;
        else{
            return;
        }
        name_input = document.getElementById("form-name");
        batch_input = document.getElementById("form-batch");

        batch_view = document.getElementById("batch-view");
        name_view = document.getElementById("name-view");
        if (text_val == "submit"){
            form = document.getElementById("picker-form")
            if (name_input.value == "" || batch_input.value == ""){
                text_field.value = "";
                return;
            }
            form.submit();
        }
        else if (isNaN(text_val)){
            name_input.value = text_val;

            document.getElementById("name-view").innerHTML = "<H2>" + text_val + "</H2>";

        }
        else if (!isNaN(text_val)){
            batch_input.value = text_val;
            batch_view.innerHTML = "<H2>" + text_val + "</H2>";
        }
        else{
            return;
        }

    document.getElementById("textfield").value = "";
    console.log(text_field.value);
    }

    function focus_the_box(){
        document.getElementById("textfield").focus()
    }
    setInterval(function() { focus_the_box(); }, 1000);
    // TODO: Create a wrapper for the get_the_vals function
    //       wrapper will check the text box for a valid input,
    //if it's not valid, do nothing
    //else store the text in the appropriate box and clear buffer
    setInterval(function() { get_the_vals(); }, 1000);

</script>
</head>
<body>
<div id="container">
    <H1>Welcome to the Picker UI</H1>
    <a href="/batch-viewer">BATCH VIEWER</a>
    <a href="/picker-ui">PICKER UI</a>
    <a href="/manager-ui">MANAGER UI</a>
    <div id="name-view"></div>
    <div id="batch-view"></div>
    <p>Enter the data:</p>
    <input type="text" placeholder="Scan your name or batch" id="textfield"/>

    <form method="POST" id="picker-form" class="hide-me">
        <p>Name: </p><input type="text" name="picker_name" placeholder="PICKER NAME" id="form-name"/>
        <p>Master Batch:</p><input type="text" name="master_batch" placeholder="MASTER BATCH" id="form-batch"/><br /><br />
        <input type="submit" value="Submit" />
    </form>
    <div>
        {% if status == "OK" %}
            <p> Entry Added!</p>
        {% endif %}
        {% if status == "ERROR" %}
            <P> THERE WAS AN ERROR, DID NOT COMPLETE</P>
        {% endif %}
        {% if status == "manager" %}
            <H1> THE MASTER BATCH SCANNED WAS NEVER INPUT INTO THE DATABASE</H1>
        {% endif %}
    </div>
</div>
</body>
</html>