<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picker UI</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    function get_the_vals(){
        text_field = document.getElementById("textfield");
        if (text_field.value)
            text_val = text_field.value;
        else{
            return;
        }
        name_input = document.getElementById("form-name");
        batch_input = document.getElementById("form-batch");

        batch_view = document.getElementById("batch-view");
        name_view = document.getElementById("name-view");
        if (text_val == "submit"){
            form = document.getElementById("picker-form");
            if (name_input.value == "" || batch_input.value == ""){
                text_field.value = "";
                return;
            }
            form.submit();
        }
        else if (text_val[text_val.length - 1] == "$" && text_val[0] == "$"){
            name_input.value = text_val;

            document.getElementById("name-view").innerHTML = "<H2>" + text_val + "</H2>";

        }
        else if (text_val.length >= 10 && !isNaN(text_val[text_val.length - 1])){
            batch_input.value = text_val;
            batch_view.innerHTML = "<H2>" + text_val + "</H2>";
        }

    document.getElementById("textfield").value = "";
    console.log(text_field.value);
    }

    function focus_the_box(){
        document.getElementById("textfield").focus();
    }

    function wrapper(){
        v = document.getElementById("textfield").value;

        if (!v){
            return;
        }
        if (v[0] == "$" && v[v.length - 1] == "$" && v.length > 2){
            get_the_vals();
        }
        if (v[0] == "$" && !isNaN(v[v.length - 1]) && v.length >= 10){
            get_the_vals();
        }
        if (v == "submit"){
            get_the_vals();
        }
    }
    setInterval(function() { focus_the_box(); }, 125);
    setInterval(function() { wrapper(); }, 250);
</script>
</head>
<body>
<div class="container">
<div id="top">
    <img src="/static/ess.png">
</div>

    <H1>Welcome to the Picker UI</H1>
    <a href="/batch-viewer">BATCH VIEWER</a>
    <a href="/picker-ui">PICKER UI</a>
    <a href="/manager-ui">MANAGER UI</a>
    <a href="/display_barcodes">BARCODES</a>
    <H2><div id="name-view"></div></H2>
    <H2><div id="batch-view"></div></H2>
    <p>Enter the data:</p>
    <input type="text" placeholder="Scan your name or batch" id="textfield"/>

    <form method="POST" id="picker-form" class="hide-me">
        <p>Name: </p><input type="text" name="picker_name" placeholder="PICKER NAME" id="form-name"/>
        <p>Master Batch:</p><input type="text" name="master_batch" placeholder="MASTER BATCH" id="form-batch"/><br /><br />
        <input type="submit" value="Submit" />
    </form>
    <div>
        {% if status == "OK" %}
            <p> Entry Added!</p>
        {% endif %}
        {% if status == "ERROR" %}
            <P> THERE WAS AN ERROR, DID NOT COMPLETE</P>
        {% endif %}
        {% if status == "manager" %}
            <H1> THE MASTER BATCH SCANNED WAS NEVER INPUT INTO THE DATABASE</H1>
        {% endif %}
    </div>
</div>
</body>
</html>